{% extends "crudApp/base.html" %} {% block body_block %}
<h1>Projects</h1>

<table style="width: 100%;">
  <thead>
    <tr>
      <th>Title</th>
      <th>Project Type</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for project in object_list %}
    <tr style="text-align: left;">
      <td>{{ project.title }}</td>
      <td>{{ project.project_type }}</td>
      <td><a href="{% url 'crudApp:project_view' project.slug %}">view</a></td>
      <td><a href="{% url 'crudApp:project_edit' project.slug %}">edit</a></td>
      <td>
        <a href="{% url 'crudApp:project_delete' project.slug %}">delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'crudApp:project_new' %}">New</a>
{% endblock %}
